.deleteWorkBtn{
  height: 30px;
  border: 1px solid #DADADA;
  border-radius: 5px;
  padding-top: 3px;
  text-align: center;
  width: 89px;
  float: right;
  a{
    color: #6C7A89;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    padding-right: 7px;
  }
  img{
    width: 18px;
    padding-right: 7px;
    padding-bottom: 2px;
    height: 12px;
  }
}

.changesSavedText {
  border-radius: 5px 5px 0 0 !important;
  position: fixed;
  height: 38px;
  bottom: 38px;
  right: 32px;
  width: 173px;
}

@media only screen and (max-width: 600px) {
  .changesSavedText {
    margin-left: -85px;
    left: 50%;
  }
}
